.vs
ReachingUniversalis/Binaries
ReachingUniversalis/Intermediate
ReachingUniversalis/Content
ReachingUniversalis/Saved
ReachingUniversalis/DerivedDataCache
ReachingUniversalis/DerivedData
ReachingUniversalis/Plugins